@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Sen:100,200,300,400,500,600,700');

header {
    padding: 80px;
    background-image: url("../images/beach2.jpg");
    background-size: 100% 100%;
    object-fit: cover;
}

section {
    background-color: rgb(245, 215, 176);
}

.nav-item{
    background-color: orange;
}

footer {
    padding: 70px;
    background-color: gray;
    width: 100%;
    font-size: 100%;
    color: orange;
}

h1 {
    text-align: center;
    height: 100px;
    color: 
}

h2 {
    text-transform: uppercase;
    color: #c57002;
    letter-spacing: 5px;
    text-shadow: white 0px 0px 10px;
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

h3 {
    color: orange;
    font-weight: 900;
    text-shadow: black 0px 0px 10px;
}

h4 {
    color: green;
    padding-bottom: 0;
}

.display {
    font-weight: 900;
    font-size: 50px;
    color: black;
    text-shadow: white 0px 0px 10px;
    }

#hero {
    height: 700px;
    width: 100%;
    background: url("../images/stretch2.jpg") no-repeat center center;
    background-size: 100% 100%;       
}

.social {
    text-align: center;
    list-style: none;
    padding: 0;
}

.social li {
    display: inline-block;
}

.social i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: orange;
}

#phone {
    text-align: center;
}

#email {
    text-align: right;
}
 
.container-amen {
    height: 100px;
    padding: 100px;
}

.col-sm {
    text-align: center;
}

.form {
    border-style: solid;
    border-color: orangered;
    background-color: rgb(215, 215, 219);
    width: 700px;
    height: 400px;
    opacity: 0.8;
}
