@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Sen:100,200,300,400,500,600,700');

header {
    padding: 80px;
    background-image: url("../images/beach2.jpg");
    background-size: 100% 100%;
    object-fit: cover;
}

.nav-item{
    background-color: orange;
}

footer {
    padding: 70px;
    background-color: gray;
    font-size: 100%;
    color: orange;
}

h1 {
    text-align: center;
    height: 100px;
}

h2 {
    text-transform: uppercase;
    color: #c57002;
    letter-spacing: 5px;
}

h3 {
    color: black;
    font-weight: 900;
}

.display {
    font-weight: 900;
    font-size: 50px;
    color: black;
    }

#hero {
    height: 700px;
    width: 100%;
    background: url("../images/stretch2.jpg") no-repeat center center;
    background-size: 100% 100%;       
}

#phone {
    text-align: center;
}

#email {
    text-align: right;
}
 
.container-amen {
    height: 100px;
    padding: 100px;
}

.col-sm {
    text-align: center;
}

.form {
    border-style: solid;
    border-color: orangered;
    background-color: rgb(215, 215, 219);
    width: 700px;
    height: 400px;
    opacity: 0.8;
}